.node {
    margin-left: 20px;
}

.node-label {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
}

.node-children {
    list-style-type: none;
}

.node-label.selected {
    background-color: #377094;
    color: white;
    border-radius: 5px;
}